<div class="main" style="background-image: url('/assets/img/front_bg.jpg')">

<!--    Change the image source '/images/default.jpg' with your favourite image.     -->
    
    <div class="cover black" data-color="black"></div>
     
<!--   You can change the black color for the filter with those colors: blue, green, red, orange       -->

    <div class="container">
        <h1 class="logo cursive">
            Highlearner Comming Soon...
        </h1>
        
        <div class="content">
            <h4 class="motto">Learning place for everyone.</h4>
        </div>
    </div>
 </div>