<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="lead">
					<strong>Welcome Nisha</strong>
					Welcome, How would you like to get started?
				</div>
				<div class="button">
					<a href="/test-library" target="_blank" class="btn btn-large btn-success"><i class="zero-page-icon inline"></i>
						<small>Pick a Test from ViewWiser's</small><br>TEST LIBRARY</a>&nbsp;&nbsp;&nbsp;
					<a href="/create-test" target="_blank" class="btn btn-large btn-success"><i class="zero-page-icon inline"></i>
						<small>Create Your Own Test</small><br>CREATE TEST</a>
				</div>
			</div>
		</div>
	</div>
</div>

