.lead {
    margin-bottom: 24px;
    font-size: 21px;
    font-weight: 200;
    line-height: 36px;
    text-align:center;
}
div {
    display: block;
}
#zero-page-dashboard .btn {
    text-transform: none;
    width: 240px;
    height: 240px;
    margin: 0 40px;
}
.button{
	margin-left:300px;
	padding:100px;
}