<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
			<form class="login100-form validate-form">
				<span class="login100-form-title p-b-43">
					<img class="logo-img" src="assets/img/viewwiser-logo-trans.png">
					Highlearner
				</span>
				<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<input class="input100" type="text" name="email">
					<span class="focus-input100"></span>
					<span class="label-input100">Email</span>
				</div>
				<div class="wrap-input100 validate-input" data-validate="New password is required">
					<input class="input100" type="new password" name="pass">
					<span class="focus-input100"></span>
					<span class="label-input100">New Password</span>
				</div>
				<div class="wrap-input100 validate-input" data-validate="confirm password is required">
					<input class="input100" type="confirm password" name="pass">
					<span class="focus-input100"></span>
					<span class="label-input100">Confirm Password</span>
				</div>
			</form>
			<div class="login100-more"> <img id= "image"src="assets/img/bg-01.jpg">
			</div>
		</div>
	</div>
</div>
